body {
  color: #fff;
  background-color: #292b2c;
  font-family: 'Rosarivo';
}

.active {
  visibility: visible !important;
}

.casting {
  visibility: hidden;
  margin: 0.5em 0;
}

.actions {
  margin-top: 0.5em;
}

.casting .progress-bar {
  text-align: left;
  text-indent: 2em;
}

.statuses {
    height: 50px;
    text-align: center;
}
.status {
  margin: 0 2px;
  display: inline-block;
  text-align: center;
}

.status small {
  display: block;
}

.action-row {
  margin-bottom: 0.5em;
}

/*.cooldown-row button {
    height: 58px;
}

.cooldown-row small {
  display: block;
}*/

.progress-gauge {
  flex-flow: column;
}

.container {
  width: 1024px;
}

.info {
  width: 800px;
  margin: 0 auto;
  margin-top: 1em;
}

.bg-white {
  background-color: #dcdcac;
  color: #333;
}

.bg-black {
  background-color: #742d98;
}

.progress-gauge .progress-bar, .progress-mana .progress-bar {
  transition: width 0.3s ease-in ;
}

/*.action-melee {
  width: 200px;
  line-height: 0.75;
  height: 38px;
}*/
.mana-balance {
    background-color: #ffc0cb;
}
.imbalance-white {
    background-color: #eaecd2 !important;
}
.imbalance-black {
    background-color: #bba1bb !important;
}

.container {
  text-align: center;
}


.progress-gcd {
  display: inline-block;
  width: 100px;
  height: 7px;
}

.footer {
  margin-top: 6em;
  font-size: 0.65em;
  text-align: center;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.actions button {
  padding: 0;
  background: transparent;
  border: 2px dashed transparent;
  position: relative;
}

.actions button.highlight {
  border-color: #d0a21a;
}

.actions button:disabled img {
  filter: grayscale(20%) contrast(60%) brightness(60%);
}

.actions button > small {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 2px black, 0 0 2px black;
    font-weight: bold;
    color: #fff;
}

.hotkey {
  border: 2px solid red !important;
}

.keybind-help {
  display: none;
}

.hotkey-mode .keybind-help {
  display: block;
}

.visualisation {
  background: #1d1d1d;
  margin: -50px auto 30px auto;
  padding: 50px;
  width: 800px;
  display: inline-block;
  border: 1px solid #969696;
  border-radius: 20px;
}

.dummy {
  margin-left: 50px;
  float:left;
}

.rdm {
  margin-right: 50px;
  margin-top: 25px;
  position: absolute;
  right: 160px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.melee {
  transform: translateX(-350px);
}

@keyframes fade {
  0% {
    top: -270px;
  }
  100% {
    top: -350px;
  }
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.damage-text {
  position: absolute;
  left: 310px;
  color: #ecddd8;
  font-size: 40px;
  -webkit-text-stroke: 0.3px orange;
  transform: translateY(300px);
  -webkit-animation: fade 1.3s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fade 1.3s; /* Firefox < 16 */
    -ms-animation: fade 1.3s; /* Internet Explorer */
     -o-animation: fade 1.3s; /* Opera < 12.1 */
        animation: fade 1.3s;
}
