@keyframes fade {
  0% {
    transform: translate(-50%, 30px);
  }
  100% {
    transform: translate(-50%, -50px);
  }
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

@keyframes fade2 {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(-50px);
  }
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

body {
  color: #fff;
  background-color: #292b2c;
}

.active {
  visibility: visible !important;
}

.actions {
  margin-top: 0.5em;
}

.statuses {
  margin-top: 0.5em;
  height: 50px;
  text-align: center;
}

.status {
  margin: 0 2px;
  display: inline-block;
  text-align: center;
}

.casting {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  margin-bottom: 10px;
  display: flex;
}

.casting .progress-bar {
  background-color: #800;
  height: 10px;
}

.casting .cast-info {
  flex: 1;
  text-align: left;
}

.casting .icon {
    width: 40px;
    height: 40px;
    align-self: center;
    margin-right: 8px;
}

.casting .cast {
  float: right;
}

.status small {
  display: block;
}

.action-row {
  margin-bottom: 0.5em;
}

/*.cooldown-row button {
    height: 58px;
}

.cooldown-row small {
  display: block;
}*/

.progress-gauge {
  flex-flow: column;
}

.container {
  width: 1024px;
}

.info {
  width: 800px;
  margin: 0 auto;
  margin-top: 1em;
  text-align: left !important;
}

.bg-white {
  background-color: #dcdcac;
  color: #333;
}

.bg-black {
  background-color: #742d98;
}

.progress-gauge .progress-bar, .progress-mana .progress-bar {
  transition: width 0.3s ease-in ;
}

/*.action-melee {
  width: 200px;
  line-height: 0.75;
  height: 38px;
}*/
.mana-balance {
    background-color: #ffc0cb;
}
.imbalance-white {
    background-color: #eaecd2 !important;
}
.imbalance-black {
    background-color: #bba1bb !important;
}

.container {
  text-align: center;
}


.progress-gcd {
  display: inline-block;
  width: 100px;
  height: 7px;
}

.footer {
  margin-top: 6em;
  font-size: 0.65em;
  text-align: center;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.actions button {
  padding: 0;
  background: transparent;
  border: 2px dashed transparent;
  position: relative;
}

.actions button.highlight {
  border-color: #d0a21a;
}

.actions button:disabled img {
  filter: grayscale(20%) contrast(60%) brightness(60%);
}

.actions button > small {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 2px black, 0 0 2px black;
    font-weight: bold;
    color: #fff;
}

.hotkey {
  border: 2px solid red !important;
}

.keybind-help {
  display: none;
}

.hotkey-mode .keybind-help {
  display: block;
}

.visualisation {
  position: relative;
  background: #1d1d1d;
  padding: 50px;
  width: 800px;
  display: inline-block;
  border: 1px solid #969696;
  border-radius: 20px;
}

.dummy {
  margin-left: 50px;
  float:left;
}

.rdm {
  margin-right: 50px;
  margin-top: 25px;
  position: absolute;
  right: 50px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.melee {
  transform: translateX(-350px);
}

.status-text {
  position: absolute;
  color: white;
  vertical-align: middle;
  text-align: left;
  -webkit-animation: fade2 2.5s linear; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fade2 2.5s linear; /* Firefox < 16 */
    -ms-animation: fade2 2.5s linear; /* Internet Explorer */
     -o-animation: fade2 2.5s linear; /* Opera < 12.1 */
        animation: fade2 2.5s linear;
}

.status-added {
  color: #0c0;
  text-shadow: 0 0 1px #3f3;
}
.status-removed {
  color: #ccc;
  text-shadow: 0 0 1px #666;
}


.damage-text {
  position: absolute;
  color: #ecddd8;
  font: 40px 'Rosarivo';
  -webkit-text-stroke: 0.3px orange;
  transform: translate(-50%, 0);
  -webkit-animation: fade 1.3s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fade 1.3s; /* Firefox < 16 */
    -ms-animation: fade 1.3s; /* Internet Explorer */
     -o-animation: fade 1.3s; /* Opera < 12.1 */
        animation: fade 1.3s;
}
